#login-btn2, #signup-btn2 {
    width: 48%;
}

#login-btn2 {
    margin-left: 2%;
}

#signup-btn2 {
    margin-right: 2%;
}

#signup-btn2:hover, #login-btn2:hover {
    color: #fff;
    opacity: .8;
}

#signupErrX {
	margin: 9px 0;
	width: 100%;
	margin-top: 26px;
	padding: 15px 0;
	font-size: 18px;
	color: #fff;
	background: var(--default-color);
	text-align: center;
  }

  #signupErrP {
	  color: red;
	  font-size: 18px;
  }