/*Background image*/
.bg { 
    /* The image used */
    background-image: url("../.././src/images/bg.jpg");
  
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Home-component {
    
    height: 100%;
}
.asd {
    margin: 300px;
}