/*Navbar Style*/
#nav-button {
    border: 0;
  }
  
  .navbar {
    background: rgba(0, 0, 0, 0);
    transition: all .3s;
  }
  
  #logo {
    height: 50px;
    width: auto;
  }

  .nav-link {
    color: #6922B0;
    font-weight: 600;
	font-family: 'PT Sans', sans-serif;
	transition: all .3s;
	font-size: 16px;
  }

  .nav-link:hover {
      color: #eee;
  }
/*Burger Icon*/
  button:focus, button:active, .burger-container
  {
    outline: none !important;
    box-shadow: none;
  }
  
  .burger-container
  {
    width: 24px;
    display: block;
  }
  
  .burger
  {
    cursor: pointer;
    display: block;
  }
  
  .burger span
  {
    background: #6922B0;
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
    top: 0;
    transition: all ease-in-out .4s;
  }
  
  .burger-container.open span:nth-child(2),
  .burger-container.open span:nth-child(3)
  {
    width: 0;
  }
  
  .burger-container.open span:nth-child(1)
  {
    transform: rotate(-45deg);
    top: 9px;
  }
  
  .burger-container.open span:nth-child(4)
  {
    transform: rotate(45deg);
    top: -9px;
  }
  